{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bet list</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <table class="records_list table table-bordered">
        <thead>
            <tr>              
                <th>id</th>
                <th>Date</th>
                <th>Client</th>
                <th>Status</th> 
                <th>Bet</th>
                <th>Win</th>
                <th>Externaluserid</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr 
                {% if (entity.status==2) and (entity.summa2 > 0) %}
                class="alert-success"
                {% elseif (entity.status==2) and (entity.summa2 == 0)%}
                class="alert-error"
                {% endif %}
                >
                <td>{{ entity.id }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.getLotoClient().name }}</td>
                
                <td>{{ entity.status }}</td>
                <td>{{ entity.summa1|number_format(2, '.', ',') }}</td>
                <td>{{ entity.summa2|number_format(2, '.', ',') }}</td>
                <td>{{ entity.externalUserId }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{pagination|raw}}
    {% endblock %}
