{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bet</h1>

    <table class="record_properties">
        <tbody>
            
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            
            <tr>
                <th>Summa1</th>
                <td>{{ entity.summa1 }}</td>
            </tr>
            <tr>
                <th>Summa2</th>
                <td>{{ entity.summa2 }}</td>
            </tr>
            <tr>
                <th>Summa3</th>
                <td>{{ entity.summa3 }}</td>
            </tr>
            <tr>
                <th>Externaluserid</th>
                <td>{{ entity.externalUserId }}</td>
            </tr>
        </tbody>
    </table> 
{% endblock %}
