{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Currency list</h1>

    <table class="records_list table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Ratetomain</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('currency_show', { 'id': entity.id }) }}">{{ entity.code }}</a></td>
                <td>{{ entity.rateToMain }}</td>
                <td>
                
                    <a class="btn btn-primary" href="{{ path('currency_show', { 'id': entity.id }) }}" title="{% trans%}show{%endtrans%}"><i class="icon-info-sign icon-white"> </i></a>
                    <a class="btn btn-warning" href="{{ path('currency_edit', { 'id': entity.id }) }}" title="{% trans%}edit{%endtrans%}"><i class="icon-edit icon-white"> </i></a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    <a class="btn btn-success" href="{{ path('currency_new') }}" title="{% trans%}Create a new entry{%endtrans%}">
        <i class="icon-plus-sign icon-white"> </i>&nbsp;{{"Create a new entry"|trans}}
    </a>
        
    {% endblock %}
